<h1>About Coffee Time</h1>
<p>
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  is a project to teach 
  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  in one month. This is Jaap's very sample application.
</p>