<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jaap Steenis">
		<title>Coffee Corner Ideas</title>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!--<div class="center hero-unit">-->
	<h1>Where Ideas become reality...</h1>
	<p>
  		<%= link_to "Sign Up Now!", '#' %>
	</p>
<!--</div>-->
</body>