<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jaap Steenis">
	<title>Coffee Corner Ideas</title>
	<link href='../assets/stylesheets/stylesheet.css.scss'>
	</head>
	<body>
    	<div class="jumbotron">
      	     <h1 style="color: #B12E54">Where Ideas become reality...</h1>
                <% if user_signed_in? %>
                    # do something
                <% else %>
                   	 <p>
                         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
                         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
                    </p>
                <% end %> 
        </div>
    </body>