@import 'bootstrap';

body {
	padding-top: 70px;
  background-image: asset-data-url("BarcelonaCoffee1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p { color: White;
	}
h1 {
	color: White;
	font-size: 25px;
}